@font-face {
  font-family: 'Josefin Slab', serif;
  }

  @font-face {
  font-family: 'Chunkfive';
  src: url(Chunkfive-Ex.ttf);

  }

p {
  font-family: 'Josefin Slab';
  font-size: 20pt;
  margin-top: -1pt;
}

#nav {
  width: 96vw;
  height: 11vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: black;
  font-family: 'Chunkfive', serif;
  font-size: 48pt;
  color: white;
  position: fixed;
}

#home {
  margin-top: 1vh;
  float: left;
  color: white;
}

.nav-items{
  float: right;
  text-align: center;
  margin-left: 4vw;
  color: white;
  }



#landing {
  width: 100vw;
  height: 89vh;
  background-image: url(img/puppy2dogv1.png);
  background-size: 80vw;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Chunkfive', serif;
  font-size: 6vw;
  color: black;
  padding-top: 11vh;
  clear: both;
  text-align: center;
  line-height: 160vh;

}

#training {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

#other-services{
  width: 100vw;
  height: 100vh;
  background-color: purple;
}

#about {
  width: 100vw;
  height: 100vh;
  background-color: pink;
}

#collar {
  width: 100vw;
  height: 10vh;
  background-color: green;
}

#contact {
  width: 100vw;
  height: 90vh;
  background-color: orange;
}
